.blade {
  grid-template-areas:
    "Protection Protection Protection Slash Slash"
    "Keenwheel BloodyStrike ShieldBash Empowerweapon Empowerweapon"
    "Blindside ReflexHit Sneaker SmiteAxe BlazingSword"
    "SpecialHit Guillotine . AxeMastery SwordMastery"
    ". SilentStrike SpringAttack ArmorPenetrate ."
    ". BladeDance HawkAttack Berserk ."
    ". . CrossStrike SonicBlade ."
    "RendingEntry RendingEntry RendingEntry RendingEntry RendingEntry";
}

[data-skill="Protection"] {
  grid-area: Protection;
}

[data-skill="Slash"] {
  grid-area: Slash;
}

[data-skill="Keenwheel"] {
  grid-area: Keenwheel;
}

[data-skill="BloodyStrike"] {
  grid-area: BloodyStrike;
}

[data-skill="ShieldBash"] {
  grid-area: ShieldBash;
}

[data-skill="Empowerweapon"] {
  grid-area: Empowerweapon;
}

[data-skill="Blindside"] {
  grid-area: Blindside;
}

[data-skill="ReflexHit"] {
  grid-area: ReflexHit;
}

[data-skill="Sneaker"] {
  grid-area: Sneaker;
}

[data-skill="SmiteAxe"] {
  grid-area: SmiteAxe;
}

[data-skill="BlazingSword"] {
  grid-area: BlazingSword;
}

[data-skill="SpecialHit"] {
  grid-area: SpecialHit;
}

[data-skill="Guillotine"] {
  grid-area: Guillotine;
}

[data-skill="AxeMastery"] {
  grid-area: AxeMastery;
}

[data-skill="SwordMastery"] {
  grid-area: SwordMastery;
}

[data-skill="SilentStrike"] {
  grid-area: SilentStrike;
}

[data-skill="SpringAttack"] {
  grid-area: SpringAttack;
}

[data-skill="ArmorPenetrate"] {
  grid-area: ArmorPenetrate;
}

[data-skill="BladeDance"] {
  grid-area: BladeDance;
}

[data-skill="HawkAttack"] {
  grid-area: HawkAttack;
}

[data-skill="Berserk"] {
  grid-area: Berserk;
}

[data-skill="CrossStrike"] {
  grid-area: CrossStrike;
}

[data-skill="SonicBlade"] {
  grid-area: SonicBlade;
}

[data-skill="RendingEntry"] {
  grid-area: RendingEntry;
}
