.jester {
  grid-template-areas:
    "Pulling Pulling SlowStep SlowStep JunkArrow"
    "FastWalker FastWalker Yo-YoMastery Yo-YoMastery BowMastery"
    "DarkIllusion Snatch CrossLine SilentShot AimedShot"
    "PerfectBlock DeadlySwing CounterAttack AutoShot ArrowRain"
    ". EnchantPoison EnchantBlood Escape ."
    ". CriticalSwing MultiStab EnchantAbsorb ."
    ". VitalStab VitalStab HitofPenya ."
    "JestersBlast JestersBlast JestersBlast JestersBlast JestersBlast";
}

[data-skill="Pulling"] {
  grid-area: Pulling;
}

[data-skill="SlowStep"] {
  grid-area: SlowStep;
}

[data-skill="JunkArrow"] {
  grid-area: JunkArrow;
}

[data-skill="FastWalker"] {
  grid-area: FastWalker;
}

[data-skill="Yo-YoMastery"] {
  grid-area: Yo-YoMastery;
}

[data-skill="BowMastery"] {
  grid-area: BowMastery;
}

[data-skill="DarkIllusion"] {
  grid-area: DarkIllusion;
}

[data-skill="Snatch"] {
  grid-area: Snatch;
}

[data-skill="CrossLine"] {
  grid-area: CrossLine;
}

[data-skill="SilentShot"] {
  grid-area: SilentShot;
}

[data-skill="AimedShot"] {
  grid-area: AimedShot;
}

[data-skill="PerfectBlock"] {
  grid-area: PerfectBlock;
}

[data-skill="DeadlySwing"] {
  grid-area: DeadlySwing;
}

[data-skill="CounterAttack"] {
  grid-area: CounterAttack;
}

[data-skill="AutoShot"] {
  grid-area: AutoShot;
}

[data-skill="ArrowRain"] {
  grid-area: ArrowRain;
}

[data-skill="EnchantPoison"] {
  grid-area: EnchantPoison;
}

[data-skill="EnchantBlood"] {
  grid-area: EnchantBlood;
}

[data-skill="Escape"] {
  grid-area: Escape;
}

[data-skill="CriticalSwing"] {
  grid-area: CriticalSwing;
}

[data-skill="MultiStab"] {
  grid-area: MultiStab;
}

[data-skill="EnchantAbsorb"] {
  grid-area: EnchantAbsorb;
}

[data-skill="VitalStab"] {
  grid-area: VitalStab;
}

[data-skill="HitofPenya"] {
  grid-area: HitofPenya;
}

[data-skill="JestersBlast"] {
  grid-area: JestersBlast;
}
