.psykeeper {
  grid-template-areas:
    "MentalStrike MentalStrike MentalStrike Blinkpool Blinkpool"
    "FlameBall Swordwind IceMissile LightningBall StoneSpike"
    "FlameGeyser Strongwind Waterball LightningRam Rooting"
    "FireStrike WindCutter WaterWell LightningShock RockCrash"
    ". Demonology PsychicBomb CrucioSpell ."
    ". Satanology SpiritBomb MaximumCrisis ."
    ". . PsychicWall PsychicSquare ."
    "GravityWell GravityWell GravityWell GravityWell GravityWell";
}

[data-skill="RockCrash"] {
  grid-area: RockCrash;
}

[data-skill="WindCutter"] {
  grid-area: WindCutter;
}

[data-skill="MentalStrike"] {
  grid-area: MentalStrike;
}

[data-skill="IceMissile"] {
  grid-area: IceMissile;
}

[data-skill="Strongwind"] {
  grid-area: Strongwind;
}

[data-skill="Waterball"] {
  grid-area: Waterball;
}

[data-skill="LightningBall"] {
  grid-area: LightningBall;
}

[data-skill="LightningRam"] {
  grid-area: LightningRam;
}

[data-skill="FireStrike"] {
  grid-area: FireStrike;
}

[data-skill="FlameBall"] {
  grid-area: FlameBall;
}

[data-skill="LightningStrike"] {
  grid-area: LightningStrike;
}

[data-skill="WaterWell"] {
  grid-area: WaterWell;
}

[data-skill="StoneSpike"] {
  grid-area: StoneSpike;
}

[data-skill="FlameGeyser"] {
  grid-area: FlameGeyser;
}

[data-skill="Rooting"] {
  grid-area: Rooting;
}

[data-skill="Sandstorm"] {
  grid-area: Sandstorm;
}

[data-skill="Demonology"] {
  grid-area: Demonology;
}

[data-skill="PsychicBomb"] {
  grid-area: PsychicBomb;
}

[data-skill="Satanology"] {
  grid-area: Satanology;
}

[data-skill="SpiritBomb"] {
  grid-area: SpiritBomb;
}

[data-skill="MaximumCrisis"] {
  grid-area: MaximumCrisis;
}

[data-skill="PsychicSquare"] {
  grid-area: PsychicSquare;
}

[data-skill="Blinkpool"] {
  grid-area: Blinkpool;
}

[data-skill="Swordwind"] {
  grid-area: Swordwind;
}

[data-skill="PsychicWall"] {
  grid-area: PsychicWall;
}

[data-skill="GravityWell"] {
  grid-area: GravityWell;
}
