.ringmaster {
  grid-template-areas:
    "Heal Heal Heal MoonBeam MoonBeam"
    "Patience QuickStep MentalSign TempingHole ."
    "Resurrection Haste HeapUp Stonehand ."
    "CircleHealing CatsReflex BeefUp BurstCrack ."
    "Prevention CannonBall Accuracy PowerFist ."
    "Protect Holycross MerkabaHanzelrusha . ."
    "Holyguard SpiritFortune HealRain . ."
    "GeburahTiphreth GvurTialla BarrierofLife . .";
}

[data-skill="BeefUp"] {
  grid-area: BeefUp;
}

[data-skill="CircleHealing"] {
  grid-area: CircleHealing;
}

[data-skill="CannonBall"] {
  grid-area: CannonBall;
}

[data-skill="MentalSign"] {
  grid-area: MentalSign;
}

[data-skill="TempingHole"] {
  grid-area: TempingHole;
}

[data-skill="Patience"] {
  grid-area: Patience;
}

[data-skill="Stonehand"] {
  grid-area: Stonehand;
}

[data-skill="CatsReflex"] {
  grid-area: CatsReflex;
}

[data-skill="QuickStep"] {
  grid-area: QuickStep;
}

[data-skill="Heal"] {
  grid-area: Heal;
}

[data-skill="PowerFist"] {
  grid-area: PowerFist;
}

[data-skill="Accuracy"] {
  grid-area: Accuracy;
}

[data-skill="HeapUp"] {
  grid-area: HeapUp;
}

[data-skill="BurstCrack"] {
  grid-area: BurstCrack;
}

[data-skill="MoonBeam"] {
  grid-area: MoonBeam;
}

[data-skill="Resurrection"] {
  grid-area: Resurrection;
}

[data-skill="Haste"] {
  grid-area: Haste;
}

[data-skill="Holyguard"] {
  grid-area: Holyguard;
}

[data-skill="Protect"] {
  grid-area: Protect;
}

[data-skill="GvurTialla"] {
  grid-area: GvurTialla;
}

[data-skill="GeburahTiphreth"] {
  grid-area: GeburahTiphreth;
}

[data-skill="BarrierofLife"] {
  grid-area: BarrierofLife;
}

[data-skill="HealRain"] {
  grid-area: HealRain;
}

[data-skill="Holycross"] {
  grid-area: Holycross;
}

[data-skill="MerkabaHanzelrusha"] {
  grid-area: MerkabaHanzelrusha;
}

[data-skill="SpiritFortune"] {
  grid-area: SpiritFortune;
}

[data-skill="Prevention"] {
  grid-area: Prevention;
}
