@import url("./css/blade.css");
@import url("./css/elementor.css");
@import url("./css/ringmaster.css");
@import url("./css/billposter.css");
@import url("./css/knight.css");
@import url("./css/psykeeper.css");
@import url("./css/ranger.css");
@import url("./css/jester.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-gray-50;
    height: 100%;
  }

  #root {
    height: 100%;
  }
}
