name: Deploy Preview

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches-ignore:
      - main

jobs:
  translate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate translations
        uses: lyqht/deepl-translate-github-action@v2.1.0
        with:
          target_languages: ar,br,cns,fr,jp,kr,pl,ru,sw,tw
          input_file_path: public/locales/en/translation.json
          output_file_name_pattern: public/locales/{language}/translation.json
          deepl_api_key: ${{ secrets.DEEPL_API_KEY }}
  deploy:
    needs: [translate]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
